{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/forbid-prop-types": [1, {"forbid": ["any"]}],
    "react/jsx-filename-extension": 0,
    "eol-last": 1
  }
}
