{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/warnings"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
        "valid-jsdoc": 2,
        "react/jsx-uses-react": 1,
        "react/jsx-no-undef": 2,
        "react/jsx-wrap-multilines": 2,
        "react/prop-types": 0,
        "import/no-named-as-default": 0
    },
    "plugins": [
        "react"
    ]
}
